extends ../layouts/default

block main
  h1
    = pergunta.title
    if (isAuthenticated && pergunta.user.id == user.id)
      small
        form.form-inline.pull-right.confirm(action="/perguntas/"+pergunta.id, method="pergunta")
          a.btn.btn-small(href='/perguntas/'+pergunta._id+'/edit', title="edit")
            <i class="icon-edit"></i>
            | Edit
          &nbsp;
          input(type="hidden", name="_method", value="DELETE")
          button.btn.btn-danger.btn-small(type="submit")
            <i class="icon-trash icon-white"></i>
            | delete

block content
  .row
    .span9
      !=pergunta.body

  .row
    .span8.tags
      p
      p
        i.icon-user
        |  by
        a(href=href='/users/'+pergunta.user._id)= pergunta.user.email
        |  |
        i.icon-calendar
        = formatDate(pergunta.createdAt, "%b %d, %Y")
        |  |
        i.icon-resposta
        a(href=href='/perguntas/'+pergunta._id)  #{pergunta.respostas.length} Resperguntaas(s)
        |  |
        i.icon-tags
        |  Tags :
        if(pergunta.tags)
          each tag in pergunta.tags.split(',')
            a.label.label-info(href="/tags/"+tag) #{tag}
  p
    br
    h3 Resperguntaas
    each resposta in pergunta.respostas
      include ../respostas/resposta
      hr
    if (isAuthenticated && pergunta.user.id != user.id)
      include ../respostas/form
