extends ../layouts/default

block content
  h2 Sobre
  p PPETI constitui uma proposta de perguntas sobre uso de computação na educação, sendo que pais e professores podem receber respostas de experts pertencentes às instituições de ensino superior parceiras do projeto.